# --- General ---
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- Laravel (Server Folder) ---
/server/vendor/
/server/node_modules/
/server/.env
/server/.env.backup
/server/.phpunit.result.cache
/server/storage/*.key
/server/storage/framework/cache/data/*
/server/storage/framework/sessions/*
/server/storage/framework/views/*
/server/storage/logs/*
/server/public/storage
/server/public/hot
/server/auth.json

# --- Vue (Client Folder) ---
/client/node_modules/
/client/dist/
/client/dist-ssr/
/client/*.local
/client/.env
/client/.env.*.local
/client/.eslintcache
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/.runtime/

# --- Cypress/Testing (If applicable) ---
/client/cypress/videos/
/client/cypress/screenshots/